/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Banner Style */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  font-size: 18px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);  /* Sombra añadida */
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Garamond', serif;  /* Cambiado a Garamond */
}

.banner-text h1 {
  font-size: 3em;
}

.banner-text p {
  font-size: 1.2em;
}

/* Contenedores de las columnas */
.columns-container {
  display: flex;
  width: 100%;
}

.left-column, .right-column {
  width: 15%; /* Cada columna lateral ocupará el 15% */
  background-color: #f4f4f4; /* Color para visualizar las columnas */
}

.main-content {
  width: 70%; /* El contenido principal ocupará el 70% */
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
}

/* Slider Style */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex-shrink: 0;
  width: 100%;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}
