.slideshow-container {
  position: relative;
  max-width: 80%;
  margin: auto;
  overflow: hidden;
}

.mySlides {
  display: none; /* Oculta todas las imágenes por defecto */
  position: absolute; /* Permite apilar las imágenes una sobre otra */
  width: 100%;
}

.mySlides img {
  width: 100%; /* Asegura que las imágenes ocupen todo el contenedor */
  border-radius: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 3px;
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
